[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "external/vim-plug"]
	path = external/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "external/prezto"]
	path = external/prezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "external/tpm"]
	path = external/tpm
	url = https://github.com/tmux-plugins/tpm.git
