## functions
# main
snippet main
int main(int argc, char* argv[]){
	${1}
	return 0;
}
endsnippet

# std::cout
snippet cout
std::cout << ${1} << std::endl;
endsnippet

snippet #ifndef
#ifndef ${1:DEFINE}
#define $1
$0
#endif // $1
endsnippet
