"*":
  "autocomplete-python":
    useKite: false
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "git-time-machine"
      "markdown-preview"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Source Code Pro"
    fontSize: 16
    invisibles: {}
  "exception-reporting":
    userId: "f97fbf72-4900-4b83-9479-351989e3d1bc"
  "git-diff":
    showIconsInEditorGutter: true
  "linter-ui-default":
    panelHeight: 226
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
  "minimap-plus": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "vim-mode-plus":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  "you-complete-me":
    globalExtraConfig: "~/.ycm_extra_conf.py"
    pythonExecutable: "python3"
    ycmdPath: "/Users/kheinicke/repos/ycmd/"
