packages: [
  "autocomplete-python"
  "busy-signal"
  "ex-mode"
  "hyperclick"
  "intentions"
  "linter"
  "linter-ui-default"
  "markdown-preview-plus"
  "minimap-plus"
  "package-sync"
  "scroll-through-time"
  "underline-trailing-whitespace"
  "vim-mode-plus"
  "you-complete-me"
]
